.footer {
    margin: 0 auto;
    width: 1600px;
    background-color: #e3e3e3;
    &-container {
        padding: 58px 0;
    }
    &-list {
        display: flex;
        justify-content: center;
        &__item {
            margin-right: 36px;
            list-style:none;
        }
        &__link {
            text-decoration:none;
            color: #848484;
            font-family: "Helvetica Neue";
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
    }
}